.to__do {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.text__to__do {
  padding: 9px;
  border-radius: 6px;
  background-color: orange;
  color: #2a3036;
}

#new__task {
  position: relative;
  padding: 30px 20px;
  max-width: 50%;
}
#new__task input {
  width: 75%;
  height: 45px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

#new__task input:focus {
  outline: none;
  border-color: #0d75ec;
}

#push {
  cursor: pointer;
}
#new__task button:hover {
  background-color: orange;
  filter: brightness(120%);
}

#new__task button:active {
  background-color: orange;
  filter: brightness(90%);
}

#new__task button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  background-color: #2a3036;
  color: whitesmoke;
  border: none;
  outline: none;
}

#tasks {
  max-height: 100%;
  margin-bottom: 8px;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.new__task__to__do {
  max-width: 436px;
}

p {
  margin-top: 22px;
}

.wrapper {
  display: flex;
  gap: 30px;
}
