body {
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  background-color: darkslategrey !important;
}

#reuslts img {
  width: 100%;
  height: 100%;
}

.title {
  color: wheat;
}

.col-md-3 {
  width: 20% !important;
  margin-bottom: 30px !important;
}
#searchWord {
  margin-bottom: 20px;
}

.page-item {
  cursor: pointer;
}

.btn-primary {
  background-color: sandybrown !important;
  border-color: sandybrown !important;
}

.form-control {
  max-width: 50%;
}

.page-link {
  background-color: black !important;
  color: wheat !important;
}

.posterImg {
  width: 301px !important;
  height: 350px;
  padding-bottom: 15px;
}

.paragraph {
  width: 50% !important;
  color: sandybrown;
  font-weight: 600;
}

.plot,
.director,
.boxOffice,
.IMDB,
.Runtime,
.Genre,
.Actors,
.Country {
  color: #000202;
}
