* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: bisque;
}
img {
  max-width: 40%;
  max-height: 40%;
}

.calculator {
  margin: 90px auto;
  width: 368px;
  height: 600px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}

.header {
  height: 100px;
  padding-top: 37px;
  padding-bottom: 27px;
  padding-right: 29px;
  padding-left: 29px;
  background-color: #212121;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: right;
}

.account {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #d98192;
  font-size: 18px;
  text-align: right;
}

.account::placeholder {
  color: #d98192;
}

.result {
  max-width: 100%;
  text-align: right;
  background: transparent;
  border: none;
  outline: none;
  font-size: 55px;
  color: #fff;
}

.result::placeholder {
  color: #fff;
}

.main {
  height: 460px;
  display: table;
  background-color: aliceblue;
  user-select: none;
}

.btn {
  width: 92px;
  height: 92px;
  border-radius: inherit;
  font-size: 22px;
  color: #212121;
  border: 1px solid #fff;
  cursor: pointer;
  user-select: none;
  line-height: 60px;
}

.btn:nth-child(1) {
  background-color: red;
    color: whitesmoke;
}

.btn:nth-child(1):hover {
  background-color: yellowgreen;

}

.btn .btn:nth-child(17) {
  border-bottom-left-radius: 5px;
}

.btn:hover {
  filter: brightness(110%);
  background-color: #000;
  color: whitesmoke;
}
.btn:active {
  filter: brightness(70%);
}

.btn-big {
  position: absolute;
  width: 184px;
  height: 92px;
  font-size: 22px;
  background: #000;
  color: whitesmoke;
  border-bottom-right-radius: 5px;
}
